*{
	margin: 0px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: black;
}

canvas {
	align-items: center;
	margin: auto;
	border: solid 5px #1e1f1e;
}